@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

@import "./utils/variables.scss";

@import "./blocks/head.scss";
@import "./blocks/promo.scss";
@import "./blocks/about.scss";
@import "./blocks/services.scss";
@import "./blocks/feedback.scss";
@import "./blocks/footer.scss";
@import "./blocks/advertion-production.scss";
@import "./blocks/printing.scss";
@import "./blocks/polygraphy.scss";
@import "./blocks/widescreen-title.scss";
@import "./blocks/signboards.scss";

@import "./layouts/services/content-menu.scss";

@import '../../../node_modules/swiper/swiper.scss';
@import "../../../node_modules/swiper/swiper-bundle.css";

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Roboto'sans-serif;
    box-sizing: border-box;
    transition: all 0.3s;
}

body {
    min-width: 375px;
    position: relative;
    height: 100%;

}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1440px;
    padding: 0 49px;

    @media (max-width: 768px) {
        padding: 0 14px;

    }
}

.nav-content {
    position: absolute;
    top: 100%;
    left: 0;
}

// .row {
//     margin: 0;
//     padding: 0;
// }