.flyers {

    & .banner {
        &__title {
            font-size: 1.75rem;
            margin-bottom: 0;
            line-height: 33px;

            @media (max-width: 768px) {
                font-size: 1.375rem;
            }

            @media (max-width: 550px) {
                font-size: 1rem;
                line-height: 20px;
            }

            & span {
                font-size: 1rem;

                @media (max-width: 768px) {
                    font-size: 0.875rem;
                }

                @media (max-width: 550px) {
                    font-size: 0.75rem;
                }
            }
        }

        &__text {
            font-size: 55px;
            font-weight: bold;
            line-height: 40px;
            column-gap: 5px;

            @media (max-width: 768px) {
                font-size: 32px;
            }

            @media (max-width: 550px) {
                font-size: 28px;
                line-height: 16px;
            }

            &-num,
            &-price {
                position: relative;
                line-height: 40px;

                @media (max-width: 550px) {
                    font-size: 28px;
                    line-height: 16px;
                }

                & small {
                    position: absolute;
                    top: 110%;
                    left: 0;
                    width: 110%;
                    text-align: center;
                    font-size: 11px;
                    line-height: 11px;

                    & span {
                        white-space: nowrap;
                    }

                    @media (max-width: 550px) {

                        font-size: 10px;
                    }
                }
            }

        }

        &__price {
            font-size: 1.25rem;

            @media (max-width: 768px) {
                font-size: 1rem;
            }

            @media (max-width: 550px) {
                font-size: 0.75rem;
                margin-bottom: 0.75rem;
            }
        }

        &__control {
            & span {
                font-size: 1.125rem;
                row-gap: 4px;

                @media (max-width: 550px) {
                    font-size: 10px;
                }
            }
        }

        &__btn {
            color: #FFFFFF;
            max-width: 196px;
            padding: 5px 40px;
            font-size: 0.68rem;
            line-height: 26px;

            &:hover {
                background: $ButtonColor;
                border-color: $ButtonColor;
            }

            @media (max-width: 550px) {
                font-size: 0.5rem;
                padding: 0px 20px;
            }
        }
    }
}