.printing {
    &.container {
        padding-top: 43px;
        padding-bottom: 60px;
    }

    &__title {
        margin-right: 33px;
        padding: 0 28px;
        border-right: 2px solid #B7B7B7;

        @media (max-width:768px) {
            padding: 0 10px;
            margin-right: 0;
        }
    }

    & .title {
        font-size: 3.56rem;
        font-weight: 300;
        color: #B7B7B7;

        @media (max-width:1280px) {
            font-size: 2.5rem;
        }
         @media (max-width:991px) {
             font-size: 2rem;
         }

         @media (max-width:768px) {
             font-size: 1.785rem;
         }

         @media (max-width:550px) {
             font-size: 1.375rem;
         }
    }
}