.signboards {


    &__description {

        & .container {
            padding: 55px 40px;

            @media (max-width: 768px) {
                padding: 16px 10px 29px;

            }
        }

        &-content {
            margin-top: 60px;
        }

        &-title {
            font-size: 2.75rem;
            color: #565656;
            position: relative;
            font-weight: 300;

            @media (max-width: 768px) {
                font-size: 1.875rem;
                font-weight: 500;
            }

            @media (max-width: 550px) {
                font-size: 1.125rem;
                font-weight: 700;
            }

            &::after {
                content: "";
                position: absolute;
                width: 500px;
                height: 2px;
                border: 1px solid #c7c7c7;
                bottom: -20px;
                left: calc(50% - 250px);

                @media (max-width: 768px) {
                    display: none;
                }
            }
        }

        &-text {
            font-size: 1.25rem;
            line-height: 38px;
            color: #373737;

            @media (max-width: 768px) {
                font-size: 1rem;
            }

            @media (max-width: 550px) {
                font-size: 0.875rem;
            }

            &-list {
                margin-top: 78px;

                @media (max-width: 768px) {
                    margin-top: 50px;
                }

                @media (max-width: 550px) {
                    margin-top: 20px;
                }
            }
        }
    }

    &__images {
        row-gap: 20px;

        @media (max-width: 768px) {
            row-gap: 15px;
        }

        @media (max-width: 550px) {
            row-gap: 7px;
        }
    }

    &__causes {

        &-card {
            background: #343434;
            width: 33.5%;
        }

        &-list {
            background: #575757;
            width: 66.5%;
            padding: 100px 110px;
        }
    }
}

.causes {

    &__card {

        &-num {
            font-size: 400px;
            font-weight: 900;
            // line-height: 41px;
            color: #EBA707;
        }
    }

    &__list {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
        height: 730px;
        row-gap: 50px;

        &-column {
            row-gap: 69px;
            justify-content: space-between;
        }

        & li {
            counter-increment: causes-item-increment;
            list-style-position: outside;
            position: relative;
        }

        & li::before {
            content: counter(causes-item-increment);
            position: absolute;
            top: 0;
            right: 100%;
            font-size: 96px;
            line-height: 76px;
            font-weight: 900;
            color: #6B6B6B;
        }
    }

    &__item {
        width: 50%;
        padding-left: 17px;
        // counter-increment: causes-item-increment;

        // &::marker {
        //     content: counter(causes-item-increment);
        //     font-size: 96px;
        // }

        &-num {
            color: #6B6B6B;
            font-size: 96px;
            font-weight: 900;
            line-height: 71px;
        }

        &-text {
            font-size: 1.25rem;
            font-weight: 500;
            // line-height: 30px;
        }
    }
}